/* .AddPlayer {
    height: 30px;
    margin-top: 30px;
}

.AddPlayer__input {
    margin: 0 10px;
    height: 26px;
}

.AddPlayer__submit {
    margin: auto 10px;
    width: 50px;
    font-size: 18px;
    background-color: lightskyblue;
    border: 1px black solid;
    border-radius: 15px;
} */